#header {
    text-align: center;
 }
body{
background-color: #707070 ;
}
#menu{
    width: 99%;
    height:10%;

    float: left;
    margin: 0.5%;

}


h1{
    text-align: center;
    color: crimson;
}

#login{
    float: right;
    width: 25%;
    height:25%;
    margin: 0.5%;

  box-shadow: 10px 10px 50px #181818  ;
}
#cont{
    width: 100%;
    height:100%;

    margin-bottom: 0.5%;
}
 #Registrar{
     float: left;
     width: 25%;
     height:30%;
     margin: 0.5%;
     box-shadow: 10px 10px 50px #181818  ;

 }
 #Menu_B{
     float: left;
     width: 25%;
     height:30%;
     margin: 0.5%;
     box-shadow: 10px 10px 50px #181818  ;

 }
 #Creacion{
     float: right;
     width: 25%;
     height:25%;
     margin: 0.5%;
     box-shadow: 10px 10px 50px #181818  ;
 }